<div class="container pt-4">
    <div class="card mb-3 p-3 bg-dark text-light">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="http://localhost:8090/{{movie.image}}" class="img-fluid rounded-start" alt="{{movie.name}}">
            </div>
            <div class="col-md-10 p-2">
                <div class="card-body">
                    <h3 class="card-title bg-warning p-2 text-dark">{{movie.name}}</h3>
                    <p class="card-text"><strong>Category:</strong> {{movie.category}}</p>
                    <p class="card-text"><strong>Rating:</strong> {{movie.rating}}</p>
                    <p class="card-text bg-info p-3 text-dark"><strong>Description:</strong> {{movie.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
