<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand p-2" href="#" style="margin-left: 15px;">Movie Review</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item" style="margin-right: 60px;">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item" style="margin-right: 60px;">
                <a class="nav-link" routerLink="/movies">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="move()">Reviews</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto" style="padding-right: 30px;">
            <li class="nav-item">
                <p class="text-white mt-2" style="margin-right: 30px;">{{user}}</p>
            </li>
            <li class="nav-item">
                <button class="btn btn-primary" (click)="loginhandler()" *ngIf="loginmenu==='login'">Login</button>
                <button class="btn btn-danger" (click)="loginhandler()" *ngIf="loginmenu==='logout'">Logout</button>
            </li>
        </ul>
    </div>
</nav>
